<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carousel Partial</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/carousel.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="carousel-container">
    <div class="left scroll"><img src="http://www.pdclipart.org/albums/Arrows_and_Pointers/normal_arrow07_3.png" alt=""></div>
    <div class="carousel-inner">
      <ul class="carousel-ul">
        <li><a href=""><img src="http://placehold.it/350x250" alt=""></a></li>
        <li><a href=""><img src="http://placehold.it/350x250" alt=""></a></li>
        <li><a href=""><img src="http://placehold.it/350x250" alt=""></a></li>
        <li><a href=""><img src="http://placehold.it/350x250" alt=""></a></li>
        <li><a href=""><img src="http://placehold.it/350x250" alt=""></a></li>
      </ul>
    </div>
    <div class="right scroll"><img src="http://www.pdclipart.org/albums/Arrows_and_Pointers/normal_arrow07_1.png" alt=""></div>
  </div>
</body>
</html>
