<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Testing Index Template</title>

    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
  </head>


  <body>

    <div class="split">

      <div class="activities">

        <div class="activity">
          <h2 class="title">Activity Title</h2>

          <div class="user-info">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">Hosted by: User placeholder</p>
          </div>

          <div class="activity-info">
            <div class="activity-info-content">
              <p class="location">Location placeholder</p>
              <p class="date">Date placeholder</p>
              <p class="description">Discription placeholder: <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita quas assumenda, esse sit necessitatibus a saepe numquam pariatur sed, fugiat explicabo iusto deleniti suscipit inventore ipsa soluta voluptatibus quis?</p>
            </div>
          </div>
        </div>

        <div class="activity">
          <h2 class="title">Activity Title</h2>

          <div class="user-info">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">Hosted by: User placeholder</p>
          </div>

          <div class="activity-info">
            <div class="activity-info-content">
              <p class="location">Location placeholder</p>
              <p class="date">Date placeholder</p>
              <p class="description">Discription placeholder: <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita quas assumenda, esse sit necessitatibus a saepe numquam pariatur sed, fugiat explicabo iusto deleniti suscipit inventore ipsa soluta voluptatibus quis?</p>
            </div>
          </div>
        </div>

        <div class="activity">
          <h2 class="title">Activity Title</h2>

          <div class="user-info">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">Hosted by: User placeholder</p>
          </div>

          <div class="activity-info">
            <div class="activity-info-content">
              <p class="location">Location placeholder</p>
              <p class="date">Date placeholder</p>
              <p class="description">Discription placeholder: <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita quas assumenda, esse sit necessitatibus a saepe numquam pariatur sed, fugiat explicabo iusto deleniti suscipit inventore ipsa soluta voluptatibus quis?</p>
            </div>
          </div>
        </div>

        <div class="activity">
          <h2 class="title">Activity Title</h2>

          <div class="user-info">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">Hosted by: User placeholder</p>
          </div>

          <div class="activity-info">
            <div class="activity-info-content">
              <p class="location">Location placeholder</p>
              <p class="date">Date placeholder</p>
              <p class="description">Discription placeholder: <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita quas assumenda, esse sit necessitatibus a saepe numquam pariatur sed, fugiat explicabo iusto deleniti suscipit inventore ipsa soluta voluptatibus quis?</p>
            </div>
          </div>
        </div>

      </div>


      <div class="map-full">
        Placeholder for Google Maps
      </div>



    </div>


  </body>

</html>
