<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Templates and Views for AS</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/list.css">
  <link rel="stylesheet" href="../stylesheets/show.css">
  <link rel="stylesheet" href="../stylesheets/splash.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>

<body>
  <%= yield %>
</body>

</html>
