<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Testing Lists Template</title>

    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/list.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
  </head>


  <body>

    <div class="list-activities">
      <div class="list-activity">

          <h3 class="title"><a href="">Activity Title</a></h3>

          <div class="list-user">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">User placeholder</p>
          </div>


          <p class="location">Location placeholder</p>
          <p class="date">Date placeholder</p>

      </div>

      <div class="list-activity">

        <h3 class="title"><a href="">Activity Title</a></h3>

          <div class="list-user">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">User placeholder</p>
          </div>


          <p class="location">Location placeholder</p>
          <p class="date">Date placeholder</p>

      </div>

      <div class="list-activity">

        <h3 class="title"><a href="">Activity Title</a></h3>

          <div class="list-user">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">User placeholder</p>
          </div>


          <p class="location">Location placeholder</p>
          <p class="date">Date placeholder</p>

      </div>

      <div class="list-activity">

        <h3 class="title"><a href="">Activity Title</a></h3>

          <div class="list-user">
            <img class="user-pic" src="http://placehold.it/100x100" alt="">
            <p class="user-name">User placeholder</p>
          </div>


          <p class="location">Location placeholder</p>
          <p class="date">Date placeholder</p>

      </div>

    </div>




    <script src="code.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="../js/link.js"></script>


  </body>
</html>
