<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login page</title>

  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/login.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="login-wrapper">
    <img class="logo" src="../Logo.png" alt="">
    <h1>Activity Share</h1>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
    <button>Log In</button>
    <button>FB Login</button>
    <p><a href="#"> - -  First time? Click here to sign up.  - - </a></p>
  </div>



</body>

</html>
