<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Testing Activity Template</title>

  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/show.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>


<body>

  <div class="show-activity">

    <div class="wider activity">
      <h2 class="title">Activity Title</h2>

      <div class="user-info">
        <img class="user-pic" src="http://placehold.it/100x100" alt="">
        <p class="user-name">Host: User placeholder</p>
        <!-- Remember to add some logic here to say 'Unattend' instead if attending -->
        <button class="join">Join Activity</button>
      </div>

      <div class="activity-info">
        <div class="location-map">
          <img src="http://placehold.it/800x320" alt="">
        </div>

        <div class="activity-info-content">
          <p class="location">Location placeholder</p>
          <p class="date">Date placeholder</p>
          <p class="description">Discription placeholder: <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita quas assumenda, esse sit necessitatibus a saepe numquam pariatur sed, fugiat explicabo iusto deleniti suscipit inventore ipsa soluta voluptatibus quis?</p>
        </div>
      </div>
    </div>


    <div class="users">
      <h3 class="attending">Attending:</h3>

      <div class="smaller user-info">
        <img class="smaller-user-pic" src="http://placehold.it/100x100" alt="">
        <p class="user-name">User placeholder</p>
      </div>

      <div class="smaller user-info">
        <img class="smaller-user-pic" src="http://placehold.it/100x100" alt="">
        <p class="user-name">User placeholder</p>
      </div>

      <div class="smaller user-info">
        <img class="smaller-user-pic" src="http://placehold.it/100x100" alt="">
        <p class="user-name">User placeholder</p>
      </div>

      <div class="smaller user-info">
        <img class="smaller-user-pic" src="http://placehold.it/100x100" alt="">
        <p class="user-name">User placeholder</p>
      </div>
    </div>

  <!-- Logic needed here: only put in if user is the host -->
    <div class="host-options">
      <button>Edit Activity</button>
      <button>Delete Activity</button>
    </div>

  </div>

</html>
