<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Splash page</title>

  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/splash.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="splash">
    <p id="explore">[  <a href="#">Explore Activity Share!</a>  ]</p>

    <img class="logo" src="http://placehold.it/100x100" alt="">
    <h1>Activity Share</h1>
    <input type="text" placeholder="Enter Location">
    <button>Search</button>
  </div>



</body>

</html>
