<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Splash page</title>

  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/splash.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>

<body>

  <button id="login-btn">Log in</button>

  <div id="splash">
    <p id="explore">[  <a href="#">Explore Activity Share!</a>  ]</p>

    <img class="logo grow" src="../Logo.png" alt="">
    <h1 class="grow">Activity Share</h1>
    <input type="text" placeholder="Enter Location">
    <button>Search</button>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../js/button.js"></script>
</body>

</html>
