<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User CP View</title>

  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/user-show.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="user-show-wrapper">

      <div class="info">

        <div class="info-content">
          <h2>Info:</h2>
          <p> Name: User Name </p>
          <p> Email: User Email </p>
          <p> Location: User Location </p>
          <button>Edit</button>
          <button>Delete</button>
        </div>

        <img src="http://placehold.it/100x100" alt="">

      </div>

      <div class="hosting">
        <h2>Hosting:</h2>

        <div class="activities-wrapper">
          <!-- Div below needs to be a template -->
          <div class="activity-row">
            <h3><a href="">Activity Title</a></h3>
            <p>Time and Date placeholder</p>
            <p>Location placeholder</p>
            <p>No. of Attendees: 99</p>
          </div>

          <div class="activity-row">
            <h3><a href="">Activity Title</a></h3>
            <p>Time and Date placeholder</p>
            <p>Location placeholder</p>
            <p>No. of Attendees: 99</p>
          </div>

          <div class="activity-row">
            <h3><a href="">Activity Title</a></h3>
            <p>Time and Date placeholder</p>
            <p>Location placeholder</p>
            <p>No. of Attendees: 99</p>
          </div>

          <div class="activity-row">
            <h3><a href="">Activity Title</a></h3>
            <p>Time and Date placeholder</p>
            <p>Location placeholder</p>
            <p>No. of Attendees: 99</p>
          </div>


        </div>
      </div>

      <div class="attending">
        <h2>Attending:</h2>

        <div class="activities-wrapper">
          <!-- Div below needs to be a template -->
          <div class="activity-row">
            <h3><a href="">Activity Title</a></h3>
            <p>Time and Date placeholder</p>
            <p>Location placeholder</p>
            <p>No. of Attendees: 99</p>
          </div>
        </div>
      </div>

  </div>

</body>
</html>
