.nav-bar {
  width: 100%;
  height: 120px;
  background-image: url("http://orig02.deviantart.net/f8e9/f/2010/238/c/a/sea_animation_by_papuzka.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

    .logged-info {
      margin-left: 2%;
      display: flex;
      align-items: center;
    }

        .logged-info img {
          border-style: solid;
          border-color: grey;
          border-radius: 50%;
          width: 29%;
          min-width: 50px;
        }

        .logged-info h3 {
          margin-left: 5%;
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 1.8vw;
          color: white;
          -webkit-text-stroke: 0.1px grey;
        }

    .nav-bar > img {
      border-style: solid;
      border-color: grey;
      border-radius: 50%;
      width: 8.5%;
      min-width: 70px;
    }

    .search-bar {
      margin-right: 2%;
      display: flex;
      align-items: center;
    }

      .search-bar input {
        width: 15vw;
        height: 2.5vw;
        text-align: center;
      }

      .search-bar button {
        width: 2.8vw;
        height: 2.8vw;
        margin-left: 2%;
        border-radius: 50%;
        font-size: 1.2vw;
        text-align: center;
        background-color: rgb(170, 217, 224);
      }
