.show-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

    .wider {
      width: 66%;
    }

        .location-map img {
          width: 100%;
        }

        .join {
          width: 20%;
          height: 10%;
          font-size: 1.6vw;
          font-family: 'Roboto Condensed', sans-serif;
          color: grey;
          background-color: rgb(170, 217, 224);
          opacity: 0.8;
        }

    .users {
      width: 66%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

        .attending {
          width: 100%;
        }

        .smaller {
          width: 29%;
          margin: 2%;
          justify-content: flex-start;
        }

          .smaller-user-pic {
            border-radius: 50%;
            padding: 5%;
            width: 30%;
          }

      .host-options {
        width: 90%;
        display: flex;
        justify-content: center;
      }
          .host-options button {
            width: 20%;
            height: 6%;
            font-size: 1.6vw;
            font-family: 'Roboto Condensed', sans-serif;
            color: grey;
            background-color: rgb(170, 217, 224);
            opacity: 0.8;
            margin: 2%;
          }
