.split {
  display: flex;
  flex-direction: row;
}

.map-full {
  background-color: grey;
  flex: 2;
  height: 100vh;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 3;
  overflow-y: scroll;
  height: 100vh;
  padding: 1%;
}

    .activity {
      width: 46%;
      display: flex;
      flex-direction: column;
      margin: 2%;
    }

        .title {
          margin: 2%;
          font-family: 'Lobster', cursive;
        }

        .user-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin: 2%;
          font-family: 'Roboto Condensed', sans-serif;
        }

            .user-pic {
              border-radius: 50%;
              width: 25%;
              height: 25%;
              max-width: 100px;
              max-height: 100px;
            }

        .activity-info {
          margin: 2%;
          font-family: 'Roboto Condensed', sans-serif;
        }

            .activity-info-content {
              margin-top: 10%;
            }
