#create-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

  .form-wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
  }

    .form-wrapper input {
      height: 3vw;
      margin-bottom: 2%;
    }

    .form-wrapper button {
      height: 4vw;
      margin: 10%;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.6vw;
      color: grey;
      background-color: rgb(170, 217, 224);
      opacity: 0.8;
    }

        .gender-pick {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }

            .gender-options {
              display: flex;
              align-items: center;
            }
